@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');

body,html{
    margin: 0px;
    padding: 0px;
    background-color: #3C4254;
    font-family: 'Kanit', sans-serif;
}

.box {
    position: relative;
    background-color: #FFF;
    border-radius: 8px;
    color: aliceblue;
    padding: 5px;
    width: 80%;
    max-width: 400px;
    margin: 25px auto 0;
}

.home-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    color: aliceblue;
    padding: 10px;
}

#submit{
    background-color: #3C4254;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    color: aliceblue;
    font-size: 15px;

    cursor: pointer;
}

#submit:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

#update{
    background-color: #3C4254;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    color: aliceblue;
    font-size: 15px;

    cursor: pointer;
}

#update:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

fieldset{
    color: black;
}

.inputBox{
    position: relative;
}

.inputUser{
    width: 95%;
    margin: 0.6rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 15px;
    letter-spacing: 1px;
}

.inputUser:hover{
    background-color: rgba(0, 0, 0, 0.212);
}

.lableInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus{
    outline: 1px solid #3C4254;;
}

.inputUser:focus ~ .lableInput{
    top: -5px;
    font-size: 13px;
}

.voltar{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

.voltar a{
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
    
    margin: 2px;

    background-color: rgba(0, 0, 0, 0.414);
    padding: 10px;
    border-radius: 10px;
}

.voltar a:hover{
    background-color: #7CAE7A;
}

@media screen and (max-width: 1400px){
    body{
        zoom: 0.75;  
    }
}

@media (max-width: 800px) {
    .box {
        width: 75%;
        max-width: none; 
    }
}