@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');

body,html{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    font-family: 'Kanit', sans-serif;
    background: #394053;
    color: #ffffff;
}

.box-box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 80px;
    border-radius: 15px;
}

.usuario-logado {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.usuario-logado h1{
    color: #FFF;
    font-size: 15px;

    background-color: #2d3030;
    padding: 10px;
    border-radius: 10px;
}

.usuario-logado a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    font-size: 15px;

    background-color: #a14242;
    padding: 10px;
    border-radius: 10px;
}

.usuario-logado a:hover{
    background-color: #c42222ea;
}

.voltar{
    position: absolute;
    margin-top: 15px;
    margin-left: 5px;
}

.voltar a{
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
    
    margin: 2px;

    background-color: rgba(0, 0, 0, 0.414);
    padding: 10px;
    border-radius: 10px;
}

.voltar a:hover{
    background-color: #7CAE7A;
}